table.saker {
  border: 1px solid gray;
}

table.saker th {
  border: 1px solid gray;
}

table.saker td {
  border: 1px solid gray;
}

//funker ei
input[type="text"] {
  margin-left: 0px;
}

.flytHoyre {
  float: right;
}
